body{
    margin: 0;
    background-image: url(../img/gaming-pattern.png);
}
main{
    margin: 20px auto;
    width: 1200px;
}
hr{
    border: 2px solid white;
}
p{
    margin-top: 0;
    font-family: 'Lobster', cursive;
}
h1{
    font-size: 45px;
    font-family: 'Bowlby One SC', cursive;
    color:#fff;
    text-align: center;
    letter-spacing: 2px;

}
h1:hover{
    text-shadow: 1px 5px 5px black;

}
h2{
    margin-top: 0;
    font-size: 25px;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 1px;
    text-align: left;
}
h3{
    font-size: 20px;
    text-align: center;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    text-decoration: underline;
}
/*****header*****/
header{
    height: 250px;
    width: 100%;
    border-bottom: 5px solid #984A59;
    }
    .photo{
        height: 100%;
        width: 20%;
        background: #FFF1A8;
        float: left;
    }
    .photo img{
        height: 100%;
        width: 100%;
    }
    .slogan{
        height: 100%;
        width: 60%;
        background: #984A59;
        float: left;
    }
    .social{
        height: 100%;
        width: 20%;
        background: #FFF1A8;
        float: left;
    }
    .social i{
        color: #2D5C7F;
        font-size: 40px;
        text-align: right;
        padding: 15px 30px 0 0;
        display: block;
    }
    .social i:hover{
        color: #FF8F56;
    }
    header a{
        color: #FFF1A8;
        text-decoration: none;
    }
    header h2{
        margin-top: 0;
        font-size: 25px;
        font-family: 'Bowlby One SC', cursive;
        text-align: center;
        color: #fff;
    }
    header h2:hover{
        text-shadow: 1px 5px 5px black;
    }
/*****NAV*****/

nav{
    height: 100px;
    width: 100%;
    background: #FFF1A8;
    }
    .coordo{
        height: 100%;
        width: 20%;
        float: left;
    }
    nav .coordo ul{
        padding-left: 70px;
        font-family: 'Lobster', cursive;
    }
    .menu{
        height: 100%;
        width: 80%;
        float: left;
        padding-top: 40px;
    }
    nav a{
        margin: 10px;
        padding: 6px 56px;
        border-radius: 70px 0px;
        border : 2px solid white;
        background:  #984A59;
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        transition: 0.5s;
        font-family: 'Lobster', cursive;
    }
    nav a:hover{
        background: #FF8F56;
        color: white;
    }
    .activ{
        background: #2c3e50;
        color: white ;
    }
    nav ul{
        list-style-type: none;
    }
/********FOOTER********/
footer{
    height: 80px;
    width: 100%;
    background: #984A59;
    margin-bottom: 20px;
    text-align: center;
    line-height: 4;
}
footer a{
    margin: 10px;
    padding: 6px 56px;
    border-radius: 10px 0px;
    border : 2px solid white;
    background:  #984A59;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    font-family: 'Lobster', cursive;
}
footer a:hover{
    background: #FF8F56;
    color: white;
}
.foot{
    line-height: 0;
}
/********CORPS*********/

#corps{
    width: 100%;
    height: 800px;
    background:linear-gradient(#FFF1A8,#FF8F56)
}
.corps1, .corps2{
    width: 50%;
    height: 95%;
    float: left;
    text-align: center;
}
.corps1 h2{
    color: #984A59;
    text-shadow: 1px 1px 2px #f2f2fb;
    padding-bottom: 10px;
}
.corps2 h2{
    color: #984A59;
    text-shadow: 1px 1px 2px #f2f2fb;
}
.corps2 p{
    padding-right: 170px;
}
.skill{
    margin-left: 5px;
}

/*******Barres Skill**********/
.content {
   width: 278px;
   margin: 0;
   position: relative;
   float: left;
   font-size: 20px;
   /*padding: 30px 0 30px;*/
}

.col {
   width: 280px;
}

#skill {
   list-style: none;
   padding-top: 30px;
}

#skill li {
   margin-bottom: 70px;
   background: #000;
   height: 8px;
   width: 400px;
   border-radius: 3px;
   border-left: 3px solid #111;
   border-top: 3px solid #111;
   border-right: 3px solid #333;
   border-bottom: 3px solid #333;
}

#skill li em {
   position: relative;
   top: -30px;
}
#skill span{
    display:block;
}
.expand {
   height: 4px;
   margin: 2px 0;
   background: #EB4A5F ;
   position: absolute;
   box-shadow: 0px 0px 15px 1px rgba(0,198,255,0.4);
}

.html5 {
   width: 140%;
   -moz-animation: html5 2s ease-out;
   -webkit-animation: html5 2s ease-out;
}

.css3 {
   width: 102%;
   -moz-animation: css3 2s ease-out;
   -webkit-animation: css3 2s ease-out;
}

.javascript {
   width: 70%;
   -moz-animation: javascript 2s ease-out;
   -webkit-animation: javascript 2s ease-out;
}

.php {
   width: 30%;
   -moz-animation: php 2s ease-out;
   -webkit-animation: php 2s ease-out;
}

.sql {
   width: 25%;
   -moz-animation: sql 2s ease-out;
   -webkit-animation: sql 2s ease-out;
}
.ajax {
   width: 20%;
   -moz-animation: sql 2s ease-out;
   -webkit-animation: sql 2s ease-out;
}

@-moz-keyframes html5 {
   0% {
       width: 0px;
   }

   200% {
       width: 70%;
   };
}

@-moz-keyframes css3 {
   0% {
       width: 0px;
   }

   200% {
       width: 90%;
   };
}

@-moz-keyframes javascript {
   0% {
       width: 0px;
   }

   200% {
       width: 50%;
   };
}

@-moz-keyframes php {
   0% {
       width: 0px;
   }

   200% {
       width: 10%;
   };
}

@-moz-keyframes sql {
   0% {
       width: 0px;
   }

   200% {
       width: 100%;
   };
}
@-moz-keyframes ajax {
   0% {
       width: 0px;
   }

   200% {
       width: 100%;
   };
}

@-webkit-keyframes html5 {
   0% {
       width: 0px;
   }

   200% {
       width: 70%;
   };
}

@-webkit-keyframes css3 {
   0% {
       width: 0px;
   }

   200% {
       width: 90%;
   };
}

@-webkit-keyframes javascript {
   0% {
       width: 0px;
   }

   200% {
       width: 50%;
   };
}

@-webkit-keyframes php {
   0% {
       width: 0px;
   }

   200% {
       width: 10%;
   };
}

@-webkit-keyframes sql {
   0% {
       width: 0px;
   }

   200% {
       width: 100%;
   };
}
@-webkit-keyframes ajax {
   0% {
       width: 0px;
   }

   200% {
       width: 100%;
   };
}
/**********EXP - FORM********/
#corps .exp{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 40px;
    color: #984A59;
    text-shadow: 1px 1px 2px grey;
}
#exp{
    background: red;
    height: 475px;
    width: 98%;
    margin-top: 95px;
    margin: 0 auto;
}
#exp .gauche, .droite{
    float: left;
    height: 100%;
    width: 50%;
}
#exp .gauche{
    background: #984A59;
}
#exp .droite{
    background: #FFF1A8;
}
#exp .gauche ul{
    font-size: 17px;
    font-family: 'Lobster', cursive;
    list-style-type: none;
}
/*
#exp .droite ul{
    font-size: 17px;
    font-family: 'Lobster', cursive;
    list-style-type: none;
}*/
#exp span{
    font-size: 12px;
}

#exp .droite p{
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
#exp .droite a{
    color: black;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 15px;
}
#exp .droite a:hover{
    text-shadow: 0 1px 2px black;
    background: rgba(0,0,0,.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    color: #FFF1A8;
}
#exp .droite a .span{
    font-size: 20px;
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0,0,0,.9);
    opacity: 0;
    color: white;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}
#exp .droite a:hover .span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}
/**********Bonus*************/
/*****Anim 1******/

.anim .imgEffets{
    width: 302px;
    height: 320px;
    margin-top: 0;
    padding-top: 90px;
    margin-left: 410px;
    margin-bottom: 50px;
}
.imgEffets li{
    list-style: none;
    float: left;
    width: 141px;
    height: 150px;
    margin: 5px;
}
.imgEffets li:nth-child(3){
    clear: both;
}
.imgEffets img{
    position: absolute;
    z-index: 1;
    height: 150px;
    box-shadow: 0 0 3px black;
    transition: .5s cubic-bezier(0,3,.4,1);
}
.imgEffets li:hover img{
    z-index: 2;
    transform: scale(1.5);
    box-shadow: 0 0 10px black;
}
.imgEffets:hover li:not(:hover) img{
    filter: grayscale(1) blur(5px);
}
/*******Anim 2*******/
.anime2 {
    width: 200px;
    height: 100px;
    padding-top: 100px;
    margin: 0 auto;
}

.ball {
    width: 10px;
    height: 10px;
    margin: 10px auto;
    border-radius: 50px;
}

.ball:nth-child(1) {
    background: black;
    -webkit-animation: right 1s infinite ease-in-out;
    -moz-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out;
}

.ball:nth-child(2) {
    background: black;
    -webkit-animation: left 1.1s infinite ease-in-out;
    -moz-animation: left 1.1s infinite ease-in-out;
    animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
    background: black;
    -webkit-animation: right 1.05s infinite ease-in-out;
    -moz-animation: right 1.05s infinite ease-in-out;
    animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
    background: black;
    -webkit-animation: left 1.15s infinite ease-in-out;
    -moz-animation: left 1.15s infinite ease-in-out;
    animation: left 1.15s infinite ease-in-out;
}

.ball:nth-child(5) {
    background: black;
    -webkit-animation: right 1.1s infinite ease-in-out;
    -moz-animation: right 1.1s infinite ease-in-out;
    animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
    background: black;
    -webkit-animation: left 1.05s infinite ease-in-out;
    -moz-animation: left 1.05s infinite ease-in-out;
    animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
    background: black;
    -webkit-animation: right 1s infinite ease-in-out;
    -moz-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out;
}

@-webkit-keyframes right {
    0% {
        -webkit-transform: translate(-15px);
    }
    50% {
        -webkit-transform: translate(15px);
    }
    100% {
        -webkit-transform: translate(-15px);
    }
}

@-webkit-keyframes left {
    0% {
        -webkit-transform: translate(15px);
    }
    50% {
        -webkit-transform: translate(-15px);
    }
    100% {
        -webkit-transform: translate(15px);
    }
}

@-moz-keyframes right {
    0% {
        -moz-transform: translate(-15px);
    }
    50% {
        -moz-transform: translate(15px);
    }
    100% {
        -moz-transform: translate(-15px);
    }
}

@-moz-keyframes left {
    0% {
        -moz-transform: translate(15px);
    }
    50% {
        -moz-transform: translate(-15px);
    }
    100% {
        -moz-transform: translate(15px);
    }
}

@keyframes right {
    0% {
        transform: translate(-15px);
    }
    50% {
        transform: translate(15px);
    }
    100% {
        transform: translate(-15px);
    }
}

@keyframes left {
    0% {
        transform: translate(15px);
    }
    50% {
        transform: translate(-15px);
    }
    100% {
        transform: translate(15px);
    }
}
/*********Anim 3*********/
.anim3 {
    margin-left: 550px;
    margin-top: 100px;
}
.swing div {
  border-radius: 50%;
  float: left;
  height: 1em;
  width: 1em;
}
.swing div:nth-of-type(1) {
  background: -webkit-linear-gradient(left, #385c78 0%, #325774 100%);
  background: linear-gradient(to right, #385c78 0%, #325774 100%);
}
.swing div:nth-of-type(2) {
  background: -webkit-linear-gradient(left, #325774 0%, #47536a 100%);
  background: linear-gradient(to right, #325774 0%, #47536a 100%);
}
.swing div:nth-of-type(3) {
  background: -webkit-linear-gradient(left, #4a5369 0%, #6b4d59 100%);
  background: linear-gradient(to right, #4a5369 0%, #6b4d59 100%);
}
.swing div:nth-of-type(4) {
  background: -webkit-linear-gradient(left, #744c55 0%, #954646 100%);
  background: linear-gradient(to right, #744c55 0%, #954646 100%);
}
.swing div:nth-of-type(5) {
  background: -webkit-linear-gradient(left, #9c4543 0%, #bb4034 100%);
  background: linear-gradient(to right, #9c4543 0%, #bb4034 100%);
}
.swing div:nth-of-type(6) {
  background: -webkit-linear-gradient(left, #c33f31 0%, #d83b27 100%);
  background: linear-gradient(to right, #c33f31 0%, #d83b27 100%);
}
.swing div:nth-of-type(7) {
  background: -webkit-linear-gradient(left, #da3b26 0%, #db412c 100%);
  background: linear-gradient(to right, #da3b26 0%, #db412c 100%);
}
.shadow {
  clear: left;
  padding-top: 1.5em;
}
.shadow div {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  float: left;
  width: 1em;
  height: .25em;
  border-radius: 50%;
  background: #e3dbd2;
}
.shadow .shadow-l {
  background: #d5d8d6;
}
.shadow .shadow-r {
  background: #eed3ca;
}
@-webkit-keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@-webkit-keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}
@keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%,
  100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0)
  }
}
@-webkit-keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}
@-webkit-keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%,
  100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.swing-l {
  -webkit-animation: ball-l .425s ease-in-out infinite alternate;
  animation: ball-l .425s ease-in-out infinite alternate;
}
.swing-r {
  -webkit-animation: ball-r .425s ease-in-out infinite alternate;
  animation: ball-r .425s ease-in-out infinite alternate;
}
.shadow-l {
  -webkit-animation: shadow-l-n .425s ease-in-out infinite alternate;
  animation: shadow-l-n .425s ease-in-out infinite alternate;
}
.shadow-r {
  -webkit-animation: shadow-r-n .425s ease-in-out infinite alternate;
  animation: shadow-r-n .425s ease-in-out infinite alternate;
}

/**********Contact***********/

#contact{
    background: #CF5F24;
    height: 366px;
    width: 80%;
    display: inline-block;
    margin: 105px;
}
#contact .gauche, .droite{
    width: 50%;
    height: 100%;
    float: left;
}
#contact .gauche{
    background: #984A59;
}
#contact .droite{
    background: #FFF1A8;
}
#contact .gauche i{
    font-size: 250px;
    color: #FFF1A8;
    line-height: 145%;
    padding-left: 100px;
}
#contact .droite ul{
    font-size: 30px;
    list-style-type: none;
    font-family: 'Lobster', cursive;
    color: #984A59;
    line-height: 50px;
}
