@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border : 0 none;
    outline : 0 none;
}

html, body{
    position: relative;
}
body{
    background-image: url(../img/concrete-texture.png);
}

h1{
    font-family: 'Oswald', sans-serif;
    color: white;
    letter-spacing: 2px;
}
/********************HEADER & NAV************************/

#header-main{
    height: 100px;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid black;
    font-family: 'Oswald', sans-serif;
}

#nav-main{
    height: 100%;
    width: 100%;
    background: #9A9B94;
}

.logo{
    width: 30%;
    height: 100%;
    float: left;
}
/****MENU****/
.ancre-nav{
    width: 70%;
    height: 100%;
    float: left;
}
.ancre-nav ul a{
    text-align: center;
    text-decoration: none;
    color: white;
}
.ancre-nav ul{
    text-align: center;
}
.ancre-nav ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    margin: 20px 90px 0 0;
}
.ancre-nav ul li:hover{
    background: rgba(255, 255, 233, 0.6);
    color:#52524E;
}
/****Logo****/
.logo img{
    height: 80px;
    width: 80px;
    float: left;
    padding: 1vh;
}
.logo h1{
    font-size: 60px;
    text-align: center;
}


/*********************MAIN*********************/

#first-main{
    width: 80%;
    height: 100%;
    background: rgb(215, 217, 211);
    margin: auto;
    padding-top: 100px;
    font-family: 'Fjalla One', sans-serif;

}

/******bref******/
#bref{
    width: 100%;
    height: 800px;
    background: #D4D6C8;
}
h2 {
    font-size: 30px;
    color: #52524E;
    padding: 10px;
}
#bref span{
    font-size: 22px;
    font-style: italic;
}
#bref p{
    text-align: justify;
    padding: 0 10px;
    font-size: 18px;
}
.bref-content{
    width: 48%;
    height: 46%;
    float: left;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
}
.image1{
    float: left;
}
.image1 img{
    width: 320px;
    height: 320px;
    padding: 4vh 23vh;
}
.bref-content2{
    width: 98%;
    height: 47%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
}
.bref-content2 ul {
    list-style-type: none;
    font-size: 20px;
}
.bref-content2 ul li {
    margin-left: 20px;
}

/******skill******/
#skill{
    width: 100%;
    height: 750px;
    background: #D4D6C8;
}
.skill-content{
    width: 85%;
    height: 98%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
}
#skill ul{
    font-size: 18px;
    list-style-type: none;
    margin: auto;
    padding: 35px;
}
/***************/
#skill span{
    font-size: 50px;
}

#skill .skill-content p{
    text-align: center;
    padding-top: 105px;
    font-size: 70px;
}
#skill .skill-content a{
    color: black;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 15px;
}
#skill .skill-content a:hover{
    text-shadow: 0 1px 2px black;
    background: rgba(0,0,0,.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    color: #fff;
}
#skill .skill-content a .span{
    font-size: 25px;
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0,0,0,.9);
    opacity: 0;
    color: white;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}
#skill .skill-content a:hover .span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}
/******cv******/
#cv{
    width: 100%;
    height: 800px;
    background: #D4D6C8;
}

#cv .cv{
    width: 48%;
    height: 96%;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
    float: left;

}
#cv ul{
    font-size: 18px;
    list-style-type: none;
    margin: auto;
    padding: 35px;
}
.uno{
    background: #D4D6C8;
}
.dos{
    background: #9A9B94;
}
/**Info**/
.sous-t{
    text-decoration: underline;
    font-size: 22px;
}
.div{
    float: left;
}
/******work******/
#work{
    width: 100%;
    height: 750px;
    background: #D4D6C8;
}
.work-content{
    width: 85%;
    height: 98%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
}
.work-content p{
    text-align: center;
    font-size: 200px;
    font-weight: bold;
    padding-top: 170px;
}
/******contact******/
#contact{
    width: 100%;
    height: 700px;
    background: #D4D6C8;
    margin-bottom: 50px;
}
.contact-content{
    width: 60%;
    height: 80%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
}
.contact-div{
    float: left;
    width: 40%;
    height: 70%;
    margin: 43px;
}
.trait{
    float: left;
    width: 1%;
    height: 80%;
    background: black;
}

.contact-div ul{
    font-size: 30px;
    padding: 50px;
    list-style-type: none;
    line-height: 40px;
}
/********FORMULAIRE********/

form{
    width: 91%;
    background : #F9F9F9 ;
    margin: 0 auto;
    padding: 15px;
    color: #383746 ;
    border: 2px solid black;
   font-size: 15px;
}
label{
    margin: 10px 0;
    width: 50%;
    display: inline-block;
}
textarea{
    resize: none;
}
.bouton{
   background: lavender;
   border: 1px solid black;
   position: relative;
   bottom: 9px;
   padding: 5px;
}
.bouton:hover{
   background: black;
   color: lavender;
}
#nom{
    width: 160px;
   border: 1px solid black;
   height: 30px;
}
#prenom{
    width: 160px;
   border: 1px solid black;
   height: 30px;
}
#email{
    width: 160px;
   border: 1px solid black;
   height: 30px;
}
#cp{
    width: 160px;
   border: 1px solid black;
   height: 30px;
}
#message{
   border: 1px solid black;
}
/*******************FOOTER**********************/

footer{
    height: 50px;
    width: 100%;
    background: #52524E;
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;
}

footer a{
    text-decoration: none;
    color: #E9E9E5;
    font-size: 45px;
    margin-left: 415px;
}
footer a:hover{
    color: black;
}


/*****clear*****/

.clear{
    clear: both;
}
