@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border : 0 none;
    outline : 0 none;
}

html, body{
    position: relative;
}
body{
    background-image: url(../img/concrete-texture.png);
}

h1{
    font-family: 'Oswald', sans-serif;
    color: white;
}
/********************HEADER & NAV************************/

#header-main{
    height: 100px;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid black;
}

#nav-main{
    height: 100%;
    width: 100%;
    background: #9A9B94;
}

.logo{
    width: 30%;
    height: 100%;
    float: left;
}
/****MENU****/
.ancre-nav{
    width: 70%;
    height: 100%;
    float: left;
}
.ancre-nav ul a{
    text-align: center;
    text-decoration: none;
    color: white;
}
.ancre-nav ul{
    text-align: center;
}
.ancre-nav ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    margin: 20px 90px 0 0;
}
.ancre-nav ul li:hover{
    background: rgba(255, 255, 233, 0.6);
    color:#52524E;
}
/****Logo****/
.logo img{
    height: 99px;
    width: 99px;
    float: left;
}
.logo h1{
    font-size: 60px;
    text-align: center;
}


/*********************MAIN*********************/

#first-main{
    width: 80%;
    height: 100%;
    background: rgba(215, 217, 211, );
    margin: auto;
    padding-top: 100px;

}

/******bref******/
#bref{
    width: 100%;
    height: 800px;
    background: #D4D6C8;
}
h2 {
    font-size: 30px;
    color: #52524E;
    padding: 10px;
}
#bref span{
    font-size: 22px;
    font-style: italic;
}
#bref p{
    text-align: justify;
    padding: 0 10px;
    font-size: 17px;
}
.bref-content{
    width: 48%;
    height: 46%;
    float: left;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
}
.image1{
    float: left;
}
.image1 img{
    width: 380px;
    height: 380px;
    padding-left: 185px;
}
.bref-content2{
    width: 98%;
    height: 46%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
}
.bref-content2 ul {
    list-style-type: none;
    font-size: 20px;
}
.bref-content2 ul li {
    margin-left: 20px;
}

/******skill******/
#skill{
    width: 100%;
    height: 800px;
    background: #D4D6C8;
}
/******cv******/
#cv{
    width: 100%;
    height: 800px;
    background: #D4D6C8;
}

#cv .cv{
    width: 48%;
    height: 96%;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px black;
    background: #E9E9E5;
    float: left;

}
#cv ul{
    font-size: 20px;
    list-style-type: none;
    margin: auto;
    padding: 35px;
}
.uno{
    background: #D4D6C8;
}
.dos{
    background: #9A9B94;
}
/******work******/
#work{
    width: 100%;
    height: 800px;
    background: #D4D6C8;
}
/******contact******/
#contact{
    width: 100%;
    height: 800px;
    background: #D4D6C8;
    margin-bottom: 50px;
}
/*******************FOOTER**********************/

footer{
    height: 50px;
    width: 100%;
    background: #52524E;
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;
}

footer a{
    text-decoration: none;
    color: #E9E9E5;
    font-size: 45px;
    margin-left: 415px;
}
footer a:hover{
    color: #840404;
}


/*****clear*****/

.clear{
    clear: both;
}
